@media (max-width: 680px) {
  header {
    justify-content: space-around;
  }
  .list__container {
    display: none;
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .banner__container {
    h1 {
      font-size: 25px;
    }
  }
  footer,
  .contact__container,
  .box,
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer {
    .links {
      margin-top: 40px;
    }
    // .links,
    .open,
    .copyright {
      margin: 25px 0;
    }
  }
}

@media (max-width: 355px) {
  .table__container {
    table {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
