@media (max-width: 680px) {
  .list__container {
    display: none;
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  footer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 355px) {
  .table__container {
    table {
      width: 100%;
    }
  }
}
