* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1920px;
}

header {
  width: 100%;
  height: 117px;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
}

header img {
  width: 180px;
  height: 94px;
}

header .list__container {
  padding-bottom: 20px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 405px;
  list-style: none;
}

header ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 102px;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
}

header ul div:hover {
  background-color: #ea4f3d;
}

header ul div:hover li {
  color: #ffffff;
}

header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  height: 11px;
}

.banner {
  background: url("./img/rowan-heuvel-51244_copy_3.png") no-repeat center center/cover;
  height: 350px;
}

main {
  max-width: 940px;
  margin: 0 auto;
  border: 1px solid red;
}

main .rubruk {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .rubruk h1 {
  width: 133px;
  color: #000000;
  font-family: Sansita;
  font-size: 40px;
  font-weight: 700;
}

main .rubruk p {
  color: #888888;
  font-family: Asap;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

main .img__gallery .img {
  max-height: 540px;
}

main .img__gallery .img img {
  width: 100%;
}

main .img__gallery .pick__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

main .img__gallery .pick__img .box {
  border: 1px solid;
  width: 172px;
  height: 99px;
  background-color: #cccccc;
}

main .img__gallery .pick__img .box img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

main .img__gallery .pick__img .box:first-child:hover,
main .img__gallery .pick__img .box:nth-child(2):hover {
  cursor: pointer;
}

main .text__container {
  margin: 20px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .text__container h2 {
  max-width: 745px;
  min-height: 59px;
  color: #000000;
  font-family: Sansita;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 25px;
}

main .text__container p {
  max-width: 772px;
  min-height: 98px;
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

main .table__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

main .table__container table:first-child {
  margin-right: 10px;
}

main .table__container table {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-collapse: collapse;
}

main .table__container table th {
  background-color: #ea4f3d;
  width: 100%;
  text-align: left;
  height: 35px;
  padding-left: 12px;
}

main .table__container table th p {
  width: 45px;
  height: 12px;
  color: #ffffff;
  font-family: Asap;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

main .table__container table th:first-child {
  border-top-left-radius: 5px;
}

main .table__container table th:nth-child(2) {
  border-top-right-radius: 5px;
}

main .table__container table tbody {
  width: 460px;
  height: 35px;
  background-color: #eeeeee;
}

main .table__container table tbody tr {
  border: 2px solid #fff;
}

main .table__container table tbody tr td:first-child {
  color: #888888;
  font-family: Asap;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

main .table__container table tbody tr td:first-child p {
  max-width: 70px;
}

main .table__container table tbody tr td:nth-child(2) {
  border: 1px solid;
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

main .table__container table tbody tr td:nth-child(2) p {
  min-width: 75px;
}

main .table__container table tbody tr td i {
  font-size: 50px !important;
}
/*# sourceMappingURL=style.css.map */